name: Build and Push Docker Image #Nma workflow

on: #Evento
  push:
    branches:
      - main

jobs: 
  build-and-push: #Name Runner 
    runs-on: ubuntu-latest
    steps:      #Step inicial
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      # 3. Normalize and Build Docker Image
      - name: Build Docker Image
        run: |
          DOCKER_USERNAME=$(echo "${{ secrets.DOCKER_USERNAME }}" | tr '[:upper:]' '[:lower:]')
          docker build -t $DOCKER_USERNAME/cinemaseats:latest .

      # 4. Push Docker Image
      - name: Push Docker Image
        run: |
          DOCKER_USERNAME=$(echo "${{ secrets.DOCKER_USERNAME }}" | tr '[:upper:]' '[:lower:]')
          docker push $DOCKER_USERNAME/cinemaseats:latest    
